* {
    margin: 0;
    padding: 0;
}

.tyu {
    position: relative;
    top: 75px;
}

.page {
    background-image: url("https://stimg.cardekho.com/images/carexteriorimages/930x620/Lamborghini/Aventador/6721/Lamborghini-Aventador-SVJ/1621849426405/front-left-side-47.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    margin: 40px;
}

.regform {
    width: 800px;
    background-color: rgb(0, 0, 0, 0.6);
    margin: auto;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

.main {
    background-color: rgb(0, 0, 0, 0.5);
    width: 800px;
    height: 500px;
    margin: auto;
}

.form {
    padding: 10px;
}

.name {
    margin-left: 25px;
    position: relative;
    top: 20px;
    padding: 20px;
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 700px;
}

.firstname {
    position: relative;
    left: 200px;
     width: 480px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

.firstlabel {
    position: relative;
    color: #E5E5E5;
    text-transform: capitalize;
    font-size: 14px;
    left: 203px;
    top: -35px;
}

.password {
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.email {
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

input[type=text]:hover{
    opacity: 0.9;
}

.number {
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 255px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

button {
    background-color: #030804;
    width: 760px;
    display: block;
    margin: 20px 0px 0px 20px;
    text-align: center;
    border-radius: 12px;
    border: 0px solid #366473;
    padding: 14px 110px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25px;
}

button:hover {
    background-color: #5390F5;
}

@media screen and (max-width: 600px) {
    form{
        width: 25rem;
    }  
}
  
@media screen and (max-width: 400px) {
form{
    width: 20rem;
}
}