<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./registration.css">
    <link href ="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>registration page</title>
    <%- include('../partials/icon');%>
</head>
<body>
    <form  method="POST" onsubmit="handleSubmit()">
        <!-- Main container for all inputs -->
        <div class="mainContainer">
            <!-- Username -->
            <label for="username">Your Username</label>
            <input class="input-text" type="text" placeholder="Enter Username" name="username" required>
            <br>
            <!-- Password -->
            <label for="password">Your Password</label>
            <input class="password" type="password" placeholder="Enter Password" name="password" required>
            <br>
            <label for="email">Your Email</label>
            <input class="email" type="email" placeholder="Enter Email" name="email" required>
            <br>
            <label for="phone">Your Phone Number</label>
            <input class="phone" type="phone" placeholder="Enter Phone" name="phone" required>
            <br><br>
            <!-- Submit button -->
            <button  id="CheckAlert" type="submit">Register</button>
            <!-- Sign up link -->
        </div>
    </form>
    <script>
        function handleSubmit() {
            // e.preventDefault
            alert("User Created Successfully")
        }
    </script>
</body>
</html>
